<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>353949874683-recrl39fij9fe4nitjmm7eamfqricile.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.353949874683-recrl39fij9fe4nitjmm7eamfqricile</string>
	<key>API_KEY</key>
	<string>AIzaSyCrqS6f3snroxxmU3v6nsLhQgyWWZBAaqo</string>
	<key>GCM_SENDER_ID</key>
	<string>353949874683</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.sailyachtresearch.sailinsight</string>
	<key>PROJECT_ID</key>
	<string>sap-sailing-app</string>
	<key>STORAGE_BUCKET</key>
	<string>sap-sailing-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:353949874683:ios:e4bad21b579f022af0f35e</string>
	<key>DATABASE_URL</key>
	<string>https://sap-sailing-app.firebaseio.com</string>
	<key>FIREBASE_ANALYTICS_COLLECTION_ENABLED</key>
	<string>NO</string>
</dict>
</plist>